<% include _styled_header %>	
<% String.prototype.capitalizeWords = function(){
  return this.toLowerCase().replace( /\b\w/g, function (m) {
      return m.toUpperCase();
  });
} %>
<!-- body content -->

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 150%;">
      <p>Hi <%- user.first_name %>, </p>
      <p>Congratulations on creating your account. Here's some information to help you get started.</p>
      
      <p>
        <b>1) User Guide</b>
        <br>Our <a href="https://docs.digifi.io/">User Guide</a> can help you get started and answer common questions.
      </p>

      <p>
        <b>2) DigiFi Support</b>
        <br>Our support team is happy to assist! Our standard support hours are 9am to 6pm EST Monday-Friday.
        <ul style="margin-top: 0px; padding-top: 0px; margin-before: 0px;">
          <li>Email: support@digifi.io</li>
          <li>Phone: (646) 663-3392</li>
        </ul>
        <br>Please note that a subscription to a paid <a href="https://digifi.io/plans-and-pricing/">Support Plan</a> is required.
      </p>
      
      <p>
        <b>3) Inviting Your Team:</b>
        <br>Add team members by inviting them in Company Settings > Users. (Only available to account owners).
      </p>
      <br>
      <% const buttonLink = locals.protocol + locals.url + locals.basepath; %>
      <%	const buttonLabel = 'Sign In'; %>
      <% include _button.ejs%>
    </td>
  </tr>
</table>

<!-- body content -->
<% include _add_space.ejs%>
<% include _thank_you_text.ejs%>
<% include _styled_footer_with_unsub_from_support.ejs %>